@import "../../index.scss";

nav {
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: $secondary;
  z-index: 100;

  .container {
    height: inherit;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  a {
    margin: 0 28px;

    h6 {
      transition: 0.3s;
    }

    &:hover {
      h6 {
        color: $primary;
      }
    }
  }

  button {
    position: absolute;
    right: 0;
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -100%;
  left: 0;
  background-color: rgba($color: #000, $alpha: 0.8);
  z-index: 1;
  transition: 0.3s;

  &.open {
    top: 0;
  }

  svg {
    width: 2rem;
    position: absolute;
    top: calc(60px + 2rem);
    right: 2rem;
    fill: $light;
    cursor: pointer;
  }

  form {
    max-width: 450px;
    min-width: 300px;
    padding: 2rem;
	background-color: $secondary;
	
	h6{
		margin: 0 0 1.5rem 0;
	}

    input,
    textarea,
    button {
	  width: 100%;
	  margin: 0.5rem 0;
    }

    input,
    textarea {
      padding: 0.5rem;
    }

    textarea {
      resize: none;
    }
  }
}
